# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.env

# Data & outputs
data/raw/
data/processed/audio/
checkpoints/
reports/
artifacts/
logs/

# Jupyter
.ipynb_checkpoints/

# OS / IDE
.DS_Store
.vscode/

